{% extends 'mysite/base.html' %}
{% load cache %}
{% load static %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">

        {% comment %} {% cache 86400 article article.id %} {% endcomment %}
            <h4 class="font-italic display-6">{{ article.title }}</h4>

            <p class="small text-muted text-right">{{ article.created_at|date:"Y-m-j" }}  by <a href="#">{{ article.author }}</a></p>

            {% if article.image %}
                <img src='{{ article.image.url }}' style='max-width:100%; max-height:100%;'>
            
                {% comment %} <img src='https://storage.googleapis.com/django-mysite/{{article.image}}' style='max-width:100%; max-height:100%;'> {% endcomment %}
            {% endif %}

            <div class="my-5">{{ article.text|linebreaks }}</div>
        {% comment %} {% endcache %} {% endcomment %}



        <div>
        {% include 'mysite/snippets/like_count.html' %}

        {% if user.is_authenticated %}
            {% include 'mysite/snippets/add_favorite.html' %}
        {% endif %}

        {% include 'mysite/snippets/tag.html' %}
        </div>

        <hr class="my-4">
        {% include 'mysite/snippets/comment.html' %}


        </div>
    
        {% include 'mysite/snippets/sidebar.html' %}

    </div>

</main>




{% endblock %}