{% extends 'mysite/base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">

        {% if 'my' not in request.path %}
        <h3 class="pb-3 mb-4" style="font-family: 'Raleway', sans-serif; font-size: 30px; border-bottom-style: groove; border-bottom-color: rgba(255, 255, 255, .6); ">{{ page_title }}</h3>

            {% for article in page_article %}
            <div class="blog-post">
                <div class="d-flex">
                <h2 class="blog-post-title">{{ article.title }}</h2>

                {% if 'my' in request.path %}
                    <div class="d-flex justify-content-end mx-4">
                        <a class='btn btn-md btn-outline-secondary mb-2' href='{% url "blog:edit" article.id %}'>Edit</a>
                        <form method="POST" action='{% url "blog:delete" article.id %}'>{% csrf_token %}<input class='btn btn-md btn-outline-danger mx-2 mb-2' type="submit" value="Delete"></form>
                    </div>
                {% endif %}
                </div>

                <p class="blog-post-meta">{{ article.created_at|date:"Y-m-j" }}  by <a href="#">{{ article.author }}</a></p>

                <p>{{ article.text|truncatechars:200 }}</p>
                <a href="{% url 'blog:article' article.id %}" class="">Read more...</a>
            </div>  
            <hr>
            {% endfor %}

            {% else %}
            
            {% if published %}
            <h3 class="pb-3 mb-4" style="font-family: 'Raleway', sans-serif; font-size: 30px; border-bottom-style: groove; border-bottom-color: rgba(255, 255, 255, .6); ">Published</h3>

                {% for article in published %}
                <div class="blog-post">
                    <div class="d-flex">
                    <h2 class="blog-post-title">{{ article.title }}</h2>

                    {% if 'my' in request.path %}
                        <div class="d-flex justify-content-end mx-4">
                            <a class='btn btn-md btn-outline-secondary mb-2' href='{% url "blog:edit" article.id %}'>Edit</a>
                            <form method="POST" action='{% url "blog:delete" article.id %}'>{% csrf_token %}<input class='btn btn-md btn-outline-danger mx-2 mb-2' type="submit" value="Delete"></form>
                        </div>
                    {% endif %}
                    </div>

                    <p class="blog-post-meta">{{ article.created_at|date:"Y-m-j" }}  by <a href="#">{{ article.author }}</a></p>

                    <p>{{ article.text|truncatechars:200 }}</p>
                    <a href="{% url 'blog:article' article.id %}" class="">Read more...</a>
                </div>  
                <hr>
                {% endfor %}
            {% endif %}

                <br><br>
                {% if draft %}
                <h3 class="pb-3 mb-4" style="font-family: 'Raleway', sans-serif; font-size: 30px; border-bottom-style: groove; border-bottom-color: rgba(255, 255, 255, .6); ">Draft</h3>

                    {% for article in draft %}
                    <div class="blog-post">
                        <div class="d-flex">
                        <h2 class="blog-post-title">{{ article.title }}</h2>

                        {% if 'my' in request.path %}
                            <div class="d-flex justify-content-end mx-4">
                                <a class='btn btn-md btn-outline-secondary mb-2' href='{% url "blog:edit" article.id %}'>Edit</a>
                                <form method="POST" action='{% url "blog:delete" article.id %}'>{% csrf_token %}<input class='btn btn-md btn-outline-danger mx-2 mb-2' type="submit" value="Delete"></form>
                            </div>
                        {% endif %}
                        </div>

                        <p class="blog-post-meta">{{ article.created_at|date:"Y-m-j" }}  by <a href="#">{{ article.author }}</a></p>

                        <p>{{ article.text|truncatechars:200 }}</p>
                        <a href="{% url 'blog:article' article.id %}" class="">Read more...</a>
                    </div>  
                    <hr>
                    {% endfor %}

                {% endif %}
            {% endif %}


        {% include 'mysite/snippets/pagination.html' %}


        </div>
    
        {% include 'mysite/snippets/sidebar.html' %}

    </div>

</main>




{% endblock %}